<div style="text-align:center">
<h1>GEM 'SUM_STRINGS' FOR SUMMING HOURS FROM ARRAY STRINGS </h1>

<p>ORIGINAL ARRAY VALUES</p>
<p><%= @array %> </p>

<p>SUM OF ARRAY VALUES</p>
<p><%= @array_sum %></p>
</div>